/* 
    Created on : Mar 30, 2016, 10:28:09 AM
    Author     : Silje Lilleeng Johnsen
*/
body{
    height: 100%;
}
html{
    height: 100%;
}
#wrapper{
    max-width: 1200px;
    margin: auto;
    min-height: 100%;
}
#meny{
    min-width: 1200px;
    height: 70px;
    width: 1024px;
    position: relative;
    clear: none;
    padding: 5px;
    border: 20px;
    border-bottom: 2px solid;
    margin: auto;
}
li a{
    float: left;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
li a:hover {
    color: darkgrey;
    transform: scale(1.2);
}
#main{
    float: left;
    width: 1024px;
    padding: 50px;
    margin: 20px 0 20px 0;
}
ul{
    list-style: none;
}
#foot{
    min-width: 1200px;
    height: 50px;
    margin-top: -50px;
    width: 1024px;
    background-color: white;
    position: relative;
    clear: both;
    padding: 5px;
    border-top: 2px solid black; 
    margin: auto;
}
