/* av : Silje Lilleeng Johnsen */
/* Skalerer bilder og tekst med vindu størrelse, og at 
stokker seg opppå hverandre ved en hvis størrelse (de blir ikke mindre)*/
body{
    text-align: left;
    position: relative;
    max-width: 1200px;
    margin: auto;
}
p{
    margin: 0 0 1em 0;
    font-size: 93%;
    line-height: 1.5em;
    border-bottom: solid 2px gray;
    padding-bottom: 25px;
    margin-bottom: 50px;
    max-width: 100%;
}
div.boks-innhold{
    padding: 50px 0;
    max-width: 1200px;
    margin: auto;
}
div.innhold{
    padding-bottom: 50px;
    float: left;
}
/* gjør at bildene scalerer med vinduet */
img{
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
@media screen and (max-width: 800px)
{
    div.kollaps{
        width: auto;
        float: none;
        margin-right: 0;
    }
}
/* 
div.trestk{
    padding-bottom: 50px;
}

div.tredjedel-siste{
    margin: 0;
} */